<app-header [isCompanyLogoVisble]="true"> </app-header>

<div class="top-banner-desktop  mb-3">
    <div class="top-banner-desktop-info d-flex ">
        <ng-container>
            <div>
                <h2 style="font-size: 20px;"> <span style="color: #25c167;">Congratulations!</span> You are eligible for
                </h2>
                <p>Maximum Loan Offer : ₹ {{maxEligibleAmount}} & Tenure : {{maxEligibleTenure}} Months</p>
            </div>
        </ng-container>

        <div class="btn-edit">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#requirementModal">EDIT
                <img src="assets/images/png/ pencil_icon.png" alt="Edit_icon">
            </button>
        </div>
    </div>
</div>
<div class="p-0 right-side-desktop-section">
    <div class="form-container">

        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <ng-container *ngIf="cardListDisplyData.length">
                    <ng-container *ngFor="let card of cardListDisplyData">

                        <div class="col">
                            <div class="card custom-card" [ngStyle]="{'background-color': card.bgColor}">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-md-2">
                                            <img [src]="card.imageurl" alt="Company Logo" class="img-fluid custom-logo">
                                        </div>
                                        <div class="col-md-7">
                                            <h5 class="card-title mb-1">{{card.bankName}}</h5>
                                            <p class="card-text text-muted mb-1">Loan Amount: {{card.eligibleAmount}}
                                            </p>
                                            <p class="card-text text-muted">ROI: {{card.interestRate}} %</p>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="badge bg-success rounded-pill">Pre-approved</span>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-9">
                                            <button type="button" class="btn btn-primary btn-sm me-2">View
                                                Details</button>
                                            <button type="button" class="btn btn-success btn-sm" (click)="proceedNext()">Accept Offer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-container>
                </ng-container>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="requirementModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="requirementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="requirementModalLabel">Modify your loan details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form class="row mt-4" [formGroup]="requirementForm">

                    <div class="col-md-6 col-12 form-group input-field-container">
                        <input type="number" class="input-field" id="loanAmount" formControlName="loanAmount"
                            placeholder="" data_target="laonTenure" data_target_prev="" />
                        <label for="loanAmount" class="input-label">Loan Amount</label>
                        <div class="text-danger">
                            <ng-container
                                *ngIf="requirementForm.controls['loanAmount']?.touched && requirementForm.controls['loanAmount'].invalid">
                                <div *ngIf="requirementForm.controls['loanAmount'].errors?.['required']">
                                    Loan Amount is mandatory
                                </div>
                                <div *ngIf="requirementForm.controls['loanAmount'].errors?.['min']">
                                    Minimun required loan amount is {{minEligibleAmount}}
                                </div>
                                <div *ngIf="requirementForm.controls['loanAmount'].errors?.['max']">
                                    Maximun required loan amount is {{maxEligibleAmount}}
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 form-group input-field-container">
                        <input type="number" class="input-field" id="loanTenure" formControlName="loanTenure"
                            data_target="" data_target_prev="" autocomplete="off" placeholder=" " />
                        <label for="loanTenure" class="input-label">Loan Tenure</label>
                        <div class="col-12 text-danger">
                            <ng-container
                                *ngIf="requirementForm.controls['loanTenure']?.touched && requirementForm.controls['loanTenure'].invalid">
                                <div *ngIf="requirementForm.controls['loanTenure'].errors?.['required']">
                                    Loan Tenure is mandatory
                                </div>
                                <div *ngIf="requirementForm.controls['loanTenure'].errors?.['min']">
                                    Minimun required loan tenure is {{minEligibleTenure}}
                                </div>
                                <div *ngIf="requirementForm.controls['loanTenure'].errors?.['max']">
                                    Maximun required loan tenure is {{maxEligibleTenure}}
                                </div>
                            </ng-container>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="requirementForm.invalid" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>